# Examples

# Creates domain staging.eu1.goci.io
# Synchronizes Nameservers attached to goci.io with an additional NS entry
namespace        = "goci"
stage            = "staging"
attributes       = ["eu1"]
parent_zone_name = "goci.io"

# Creates domain apps.staging.eu1.goci.io
# Does not create Nameserver entries in a seperate hosted zone
namespace        = "goci"
stage            = "staging"
attributes       = ["eu1"]
name             = "apps"

# Creates domain apps.europe.staging.goci.io
# Synchronizes Nameservers attached to goci.io with an additional NS entry
namespace        = "goci"
stage            = "staging"
domain_name      = "apps.europe.staging.goci.io"
parent_zone_name = "goci.io"

# Creates domain apps.europe.goci.io
# Set omit_prod_stage to false to create apps.prod.europe.goci.io
# Synchronizes Nameservers attached to goci.io with an additional NS entry
namespace        = "goci"
stage            = "prod"
attributes       = ["europe"]
parent_zone_name = "goci.io"
name             = "apps"

# Creates domain apps.europe.staging.goci.io
# Synchronizes Nameservers attached to goci.io with an additional NS entry
# Creates a private hosted zone using the aws_assume_role_arn and attaches the VPC 12345678
# To validate the certificate an additional public hosted zone will be created. The nameservers are synced with the public one.
# Disable public hosted zone creation by setting create_public_zone to false
namespace           = "goci"
stage               = "staging"
domain_name         = "apps.europe.staging.goci.io"
parent_zone_name    = "goci.io"
aws_assume_role_arn = "arn:aws:iam::<ACCOUNT_ID>:role/<ROLE_NAME>"
zone_vpcs           = ["vpc-12345678"]
